
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

article {
    margin-bottom: 30px;
}

h3 {
    color: #555;
}

p {
    color: #777;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}