*{
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Montserrat";
}

p {
    font-size: larger;
}

a {
    color:goldenrod;
}

h2 {
    color:darkred;
}

h2.altaneiro {
    color:red;
}

.black {
    color:black;
    margin: 20px;
}

.titulo{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    padding: 15px;
    border: solid black 2px;
    border-radius:  15px;
}

.cabecalho{
    text-align:center;
    margin: 10px;
}

.box-start{
    padding: 15px;
    border: dashed black 2px;
    border-radius:  15px;
}

.box-mid{
    padding: 15px;
    border: dashed black 2px;
    border-radius:  15px;
}

.box-end{
    padding: 15px;
    border: dashed black 2px;
    border-radius:  15px;
}